body
{
	margin: 0;
	// background-color: black;
}

canvas
{
	position: absolute;
	left: 0;
	top: 0;
	// width: 800px;
	// height: 600px;
}

.canvas-wrapper
{
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0;
	top: 0;

	&:nth-of-type(2)
	{
		left: 50%;
	}
}

.fps
{
	position: absolute;
	left: 0;
	top: 0;
}